fieldset{

    height: 100%;

}
label, input, button{

    margin: 10px 0;

}

.face{

margin-top: 50px;

}

li > label{

    margin: auto;
    padding: 20px 0;

}

nav {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: rgb(43, 43, 43);
    
}

a{

    color: white;
    text-decoration: none;
    padding: 16px;
}

a:hover{

    background-color: red;
}

select{

    padding: 10px;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.397);
    border-radius: 5px;

}

.maior{
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    
}

button{
    width: 100%;
    text-align: center;
    background-color: rgb(81, 199, 81);
    padding: 15px;
    
    border: none;
    color: white;
    border-radius: 5px;
}

.ent{

    background-color: rgba(211, 211, 211, 0.829);
    margin: 10px;
    padding: 10px;
}


.dropdown {
    position: relative;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(43, 43, 43);
    min-width: 250px;
    z-index: 1;
    flex-direction: column;
  }
  
  
  .dropdown-content a {
    padding: 12px 16px;
    display: block;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: flex;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  