fieldset{

    height: 100%;

}
label, input, button{

    margin: 10px 0;

}

.face{

margin-top: 50px;

}

li > label, li > input{

    margin: auto;

}

nav {
    display: flex;
    align-items: center;        /* centraliza verticalmente */
    height: 50px;
    background-color: rgb(43, 43, 43);
    
}

a{

    color: white;
    text-decoration: none;
    padding: 16px;
}

a:hover{

    background-color: red;
}
